{% extends "base.html" %}
{% block body %}
<article id="{{post.id}}" class="clearfix serendipity_entry" role="article">
<header class="clearfix">
<h2><a href="/archives/{{post.slug}}">{{post.title}}</a></h2>
<span class="serendipity_byline block_level"><span class="single_user">Posted by <a href="http://toys.lerdorf.com/authors/1-Rasmus">{{post.author.username}}</a> on </span><time datetime="" pubdate="">{{post.created_at.strftime('%Y-%m-%d') }}</time></span></header>
<div class="clearfix content serendipity_entry_body">
{{post.body}}
</div>
<section id="comments" class="serendipity_comments serendipity_section_comments" role="region">
            <h3>Comments</h3>
	{% if post.comments %}
	   {%for comment in post.comments %}
		<article id="c4636" class="serendipity_comment even commentlevel-0" role="article">
    <header class="clearfix">
        <h4>tarball on <time datetime="2011-05-23T21:46:48-07:00" pubdate="">{{ comment.created_at.strftime('%B %d.%Y')}}</time>:</h4>
        </header>

    <div class="serendipity_commentBody clearfix content">
               {{ comment.body }}
        </div>

    <footer>
        <time>{{ comment.created_at.strftime('%H:%M')}}</time>
        | <a class="comment_source_trace" href="#c4636" title="Permanent link for this comment">Link</a>
            | <a class="comment_reply" href="#serendipity_CommentForm" id="serendipity_reply_4636">Reply</a>
        <div id="serendipity_replyform_4636"></div>
    </footer>
</article>
{% endfor %}
{% else %}
            <p class="nocomments">No comments</p>
{% endif %}




                </section>
<section id="respond" class="serendipity_section_commentform" role="region">
                <h3>Add Comment</h3>
                <div id="serendipityCommentFormC" class="serendipityCommentForm">
    <form id="serendipity_comment" action="." method="post">
    <div class="form_field">
        <label for="author">Name</label>
        <input id="serendipity_commentform_name" name="serendipity[name]" type="text" value="" placeholder="e.g. John Doe">
    </div>
    <div class="form_field">
        <label for="serendipity_commentform_email">Email</label>
        <input id="serendipity_commentform_email" name="serendipity[email]" type="email" value="" placeholder="e.g. mail@example.org">
    </div>
    <div class="form_tarea">
        <label for="body">Comment</label>
        <textarea id="body" name="body" rows="10" placeholder="What do you want to say?"></textarea>
    </div>
    
</div>

	
    <div class="form_button">
        <input id="serendipity_submit" name="serendipity[submit]" type="submit" value="Submit Comment">
        <input id="serendipity_preview" name="serendipity[preview]" type="submit" value="Preview">
    </div>
</form>
</div>

            </section>
</article>



{% endblock %}



